mixin main()
	.main
		.inner
			.columns
				.image.fit
					a(href="#")
						img(src="images/pic01.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic02.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic03.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic04.jpg")

				.image.fit
					a(href="#")
						img(src="images/pic06.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic05.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic08.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic07.jpg")

				.image.fit
					a(href="#")
						img(src="images/pic09.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic12.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic11.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic10.jpg")

				.image.fit
					a(href="#")
						img(src="images/pic13.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic14.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic15.jpg")
				.image.fit
					a(href="#")
						img(src="images/pic16.jpg")