mixin header()
	#header
		.inner
			.content
				h1 Radius
				h2 A fully responsive masonry-style <br/>portfolio template.
				a(href="#", class="button big")
					span Let's Go
			a(href="#", class="button hidden2")
