include modules/header/header
include modules/main/main
doctype html
html
	head
		link(rel='stylesheet', href='css/main.css')
	body
		.wrapper
			+header()
			+main()
		script(src='js/main.js', charset='utf-8')

